setlist {
  color: #000;
  width: 100%
  background-color: #5826bd;
}
title {
  display: block;
  font-family: Avenir Next; 
  font-size: 50px;
  background-color: ##bce5e8;
}
song_title {
  font-family: Avenir Next;
  font-size: 30px;
  padding: 0 5px;
}
artist, genre, year {
  padding: 0 5px;
  font-family: Georgia;
  font-size: 20px;
  display: block;
}
