setlist {
  width: 100%
  background-color: #orange;
}
title {
  font-family: Avenir Next;
  text-align: left;
  font-size: 30px;
  color: #fff;
}
artist, genre, year {
  text-align: center;
  font-family: Georgia;
  color: #fff;
}
